<!DOCTYPE html>
<html lang="ro">
<head>
	<meta charset="UTF-8">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@300" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>TORTILIA</title>
</head>
<body>
	    <div class="mainBlock">
	    <div class="roseBackground"></div>
		<div class="greenbox">
		<div class="menta"></div>
		<div class="raspberry"></div>
		<div class="cakeLeft"></div>
		<div class="underCakeRose"></div>
		<div class="header">
			<div class="logo"></div>
			<nav class="menuRightTop">
				<ul class="main-menu">
					<li class="main-menu__item"><a href="#catalog">CATALOG</a></li> 
					<li class="main-menu__item"><a href="#aboutus">DESPRE NOI</a></li>
					<li class="main-menu__item"><a href="#recommendations">RECOMANDĂRI</a></li>
					<li class="main-menu__item"><a href="#contactus">CONTACTE</a></li>
				</ul>
			</nav>
		</div>
		<div class="pataroz"></div>
		<div class="headerBlock">
			<h1>TORTILIA</h1>
			<h2>Torturi la comandă</h2>
			<a href ="#top-of-page"><button class="buttonCake">Comandă un tort</button></a>
		</div>
	</div>
	<div class="catalogContainer">
		
		<div class="catalog">CATALOG</div>
		<div class="linksUnderCatalog">
			<nav class="menuCatalog">
				<ul class="catalog-menu">
					<li class="catalog-menu__item"><a href="#catalog">PRĂJITURI</a></li> 
					<li class="catalog-menu__item"><a href="#aboutus">CREMĂ</a></li>
					<li class="catalog-menu__item"><a href="#recommendations">DECOR</a></li>
					<li class="catalog-menu__item"><a href="#contactus">SUPLIMENTE</a></li>
				</ul>
			</nav>
		</div>
		<div class="cakes">
			<div class="cake">
				<div class="imageCake"></div>
				<div class="rightTextCake"></div>
			</div>
			<div class="cake"></div>
			<div class="cake"></div>
			<div class="cake"></div>
			<div class="cake"></div>
			<div class="cake"></div>
		</div>

	</div>
	<h1>TORTILIA</h1>
	<h1>TORTILIA</h1>
	<h1>TORTILIA</h1>
	</div>
</body>
</html>